@{
  Layout = "_Layout";
}

@model Registrar.Models.Department

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Focus): @Html.DisplayFor(model => model.Focus)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")